* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    font-family: 'Janna LT', Cairo, sans-serif;
}

.logo {
    margin-top: 10px;
    margin: auto;
    gap: 5px;
    border-radius: 20px;
    cursor: pointer;
    width: 40%;
    height: 200px;
    border: 1.5px solid #029758;
    padding: 5px;

}

.logo img {
    width: 100%;
    height: 100%;
}


.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.item.active {
    border: 1.5px solid #029758;
    border-radius: 20px;
    background-color: rgb(3, 231, 134, 15%);
    color: #029758;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: around;
    flex-wrap: wrap;
    gap: 10px;
}

.child {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .05);
    width: 17%;
    min-width: 200px;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #fff;


}

.child:hover {
    border: 2px solid #029758;
}



.cont1-img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
}

.cont2-img {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    margin-bottom: 0px;
    box-shadow: 0px 5.58704px 33.52227px 0px rgba(0, 0, 0, 0.06);
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #F3F3F3;
}

.cont2-img img {
    width: 100% !important;
    height: auto;
    margin-top: 0px !important;
}


.coupon-store-name {
    line-height: 20px;
    color: #161616;
    text-align: center;


}

.coupon-store-name b {
    font-weight: bolder;
    font-size: 17px;
}

.coupon-store-number {

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #068AEE;
}

.element-discount-btn {
    margin-top: 20px !important;
    margin-left: 5px;
    margin-right: 5px;
}

.element-discount-btn a {
    background-color: #029758;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    border: none;
}

.element-discount-btn a:hover {
    background-color: #161616 !important;
}

.element-discount-btn a:focus {
    background-color: none;
}

.coupon-modal {
    width: 100%;
    text-align: center;
}

#coupon-code-div {
    max-width: 80%;
    border-radius: 16px;
    margin: 0px auto 24px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 0px 5px !important;

}

.modal-body .coupon-modal-img {
    width: 80px;
    height: 80px;
}

.custom-discount-labtop {
    color: #161616;
    font-weight: 400;
    font-size: 16px;
}


#coupon-code-div .coupon-modal-code {
    border-radius: 0px 16px 16px 0px;
    background: #F6F6FF;
    border: 2px dashed #029758;
    border-left: none;
    max-width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 11px 20px;
    gap: 3px;
}

.copy-shop {
    border-radius: 16px 0px 0px 16px;
    max-width: 50%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #029758;
    padding: 10px 20px;
    border: 2px solid #029758;
    cursor: pointer;
    text-wrap: nowrap;
    gap: 3px;
    color: white;
    text-decoration: none;

}

.path-modal {
    padding: 0 5px;
    ;
}

.copy-shop a {
    color: #fff;
    text-decoration: none;
}

.copon {
    cursor: pointer;
    color: #029758;
    font-weight: 600;
    padding: 10px 20px;
}

.coupon-modal-code svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.coupon-modal-img {
    width: 50%;
}

.coupon-modal-code svg path {
    fill: #029758;
}

#promotext {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    max-width: 460px;
    margin: auto;
    color: #000;
    text-align: center;
}

#offredetails #storetitle {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    max-width: 350px;
    margin: auto;
    color: #000;
    padding: 5px 0;
}

.modal {
    background-image: linear-gradient(to bottom, #08fe9633, #08fe9633, #08fe9633, #08fe9633, #08fe9633) !important;
    backdrop-filter: blur(10px) !important;

}

.modal-dialog {
    min-width: 40% !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;



}

.custom-discount {
    display: none !important;
}

.name-code-mobile {
    display: none !important;
}

.name-code-mobile-labtop {
    display: block !important;
}

.rival-code-labtop {
    display: block !important;
}

.rival-code-mobile {
    display: none !important;
}




@media screen and (max-width: 799px) {
    .item span {
        font-size: 15px;
        text-wrap: nowrap;
    }


}

@media screen and (max-width: 580px) {
    
    .logo {
        margin-top: 10px;
        margin: auto;
        border-radius: 20px;
        cursor: pointer;
        width: 40%;
        height: 100px;
        border: 1.5px solid #029758;

    }

    .child {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px 5px;
    }

    .cont2-img {
        width: 80px;
        height: 80px;
        align-items: center;
        margin-bottom: 0px;
        box-shadow: 0px 5.58704px 33.52227px 0px rgba(0, 0, 0, 0.06);
        padding: 5px;
        border-radius: 10px;
        border: 1px solid #F3F3F3;
        margin-top: 0;
    }


    .custom-name {
        min-width: 20%;
        text-wrap: wrap;
    }

    .custom-discount {
        display: block !important;
        width: fit-content;
        padding-top: 20px;
        min-width: 20%;

    }

    .custom-discount span b {
        font-size: 13px;
        text-wrap: nowrap;
        font-weight: 500;
        text-wrap: wrap;

    }




    .child .custom-name span b {
        font-size: 14px;
        flex-shrink: 1;
        text-wrap: nowrap;

    }


    .child .custom-name span img {
        padding: 0 10px;
        border-left: 2px solid #eee;
    }
    .element-discount-btn {
        min-width: 25%;
    }

    .child .element-discount-btn a {
        font-size: 14px;


    }

    .item {
        margin-top: 40px;


    }

    .item span {
        font-size: 15px;
        text-wrap: nowrap;
    }

    .modal-dialog {
        width: 100% !important;
        margin: 0 !important;
    }

    .custom-discount-labtop {
        display: none !important;
    }

    .coupon-store-name-deat {
        display: none !important;
    }

    .name-code-mobile-labtop {
        display: none !important;
    }

    .name-code-mobile {
        display: block !important;
    }

    .rival-code-labtop {
        display: none !important;
    }

    .rival-code-mobile {
        display: block !important;
    }








}